@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Indie+Flower&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Be Vietnam Pro", sans-serif;
}

.wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.logo {
  width: 120px;
}

.logo-text {
  font-size: 28px;
  margin-left: -40px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.nav-items {
  display: flex;
  gap: 2em;
  padding: 0 4rem;
}

.nav-items div {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.nav-items div a {
  color: black;
}

a {
  text-decoration: none;
}

.nav-items div a:hover {
  transition: all 1s;
  color: darkorange;
}
.hero-section {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin: 4rem auto;
  padding: 0 1rem;
  padding-bottom: 8rem;
}

.user-image img {
  width: 300px;
}

.faded-text {
  user-select: none;
  font-size: 7em;
  color: rgb(231, 231, 231);
  bottom: -2%;
  left: 5%;
  font-weight: bold;
  transition: all 1s;
}

.hero-section-heading {
  font-size: 35px;
  color: #343d34;
  font-weight: 500;
}

.role {
  color: #ff2171;
  font-weight: 800;
}
.hero-section-sub-heading {
  font-size: 45px;
  line-height: 45px;
  margin-top: 10px;
}
.hero-section-description {
  margin-top: 1rem;
  width: 70%;
  font-weight: 500;
}
.btn-pink {
  background-color: #e84949;
  width: fit-content;
  color: white;
  padding: 0.8rem 2.3rem;
  box-shadow: 5px 5px 7px 0px #0000003f;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
  border: solid 3px transparent;
  position: relative;
  z-index: 1;
  margin-top: 20px;
}

.btn-pink::before {
  content: "";
  position: absolute;
  background-color: #fff;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.8s;
}

.btn-pink:hover::before {
  transform: scaleX(1);
}

.btn-pink:hover {
  border: solid 3px #e84949;
  color: black;
}

.hero-section-right {
  position: relative;
  margin-right: 7rem;
}

.absolute {
  position: absolute;
}

.user-image {
  padding: 2.5rem;
  filter: grayscale(1);
  transition: 1s;
  animation: scaleImage 5s linear infinite;
}

.user-image img {
  z-index: -1;
  border-radius: 10px;
}
@keyframes scaleImage {
  0% {
    filter: grayscale(1);
    transform: scale(1);
  }

  50% {
    filter: none;
    transform: scale(1.1);
    box-shadow: 3px 3px 10px black;
  }
  100% {
    filter: grayscale(1);
  }
}

/* .iconDots {
  transition: all 1s in;
  z-index: 1;
  bottom: -1rem;
  right: 0;
  animation-name: dots;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes dots {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.icon-cube {
  z-index: 1;
  right: 0;
  top: -1rem;
  animation-name: cube;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes cube {
  0% {
    transform: rotate(360deg);
  }
}

.iconZigZag {
  z-index: 1;
  bottom: 1rem;
  animation-name: dots;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.icon-circle {
  z-index: 1;
  animation: circle 5s infinite;
}

@keyframes circle {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px);
  }
}

.icon-plus {
  z-index: 1;
  left: 11rem;
  top: -30px;
} */

@media (max-width: 412px) {
  #wrapper {
    overflow-x: hidden;
  }
  .container {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .hero-section-right {
    position: relative;
    margin-right: 2rem;
  }
  .navbar {
    margin-top: -30px;
  }

  .absolute {
    position: absolute;
  }

  .user-image {
    padding: 1rem;
    filter: grayscale(1);
    transition: 1s;
    animation: scaleImage 5s linear infinite;
  }

  .user-image img {
    z-index: -1;
    border-radius: 10px;
  }
  .hero-section {
    /* display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1rem;
    margin: 1rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
    flex-wrap: nowrap;
    align-content: space-around;
    flex-direction: row-reverse; */
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: flex-end;
    gap: 1rem;
    margin: 1rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: space-between;
  }

  .nav-items {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    right: 42rem;
    gap: 5px;
    display: none;
  }
  .logo-container {
    left: -29px;
    position: relative;
  }
  .user-image img {
    width: 150px;
  }
  .user-image {
    position: relative;
    top: -145px;
    left: 23px;
    margin-right: 10px;
  }
  .role {
    font-size: 30px;
    padding-bottom: 10px;
  }

  .iconZigZag {
    position: relative;
    bottom: -95px;
    left: 33px;
  }

  .icon-cube {
    transform: translateY(30px);
    position: relative;
    bottom: 95px;
    left: 192px;
  }
  .hero-section-left {
    display: flex;
    margin-left: 10px;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
  }

  .icon-circle {
    position: relative;
    bottom: 59px;
    left: 5px;
  }

  .iconDots {
    position: relative;
    bottom: -172px;
    left: 174px;
  }
  .iconZigZag img {
    width: 18px;
  }
  .icon-cube img {
    width: 18px;
  }
  .icon-circle img {
    width: 18px;
  }
  .iconDots img {
    width: 30px;
  }
  .icon-plus img {
    width: 18px;
  }

  .hero-section-description {
    width: 150px;
  }
  .hero-section-left {
    margin-left: 10px;
  }
  .faded-text {
    font-size: 50px;
    position: absolute;
    top: 450px;

    left: 2px;
  }
  #btn {
    padding: 3px 6px;
    margin-bottom: -3px;
    border-radius: 3px;
  }
}
